/* 드롭 반응 */
.dropBox.active {
    background: #eee;
  }
  #canV {
    width:256px;
    height:256px;
  }
  #webcam, #mirrored {
    display: inline; 
    width: 360px;
    height: auto;
    background-color: #666;
  }
  .video{
    width: auto;
    display:inline;
  }